/***
	FONTS
***/
@font-face {
    font-family: 'brandon';
    src: url('fonts/brandontext-bold-webfont.eot');
    src: url('fonts/brandontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontext-bold-webfont.woff') format('woff'),
         url('fonts/brandontext-bold-webfont.ttf') format('truetype'),
         url('fonts/brandontext-bold-webfont.svg#brandon_textbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'brandon';
    src: url('fonts/brandontext-regular-webfont.eot');
    src: url('fonts/brandontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontext-regular-webfont.woff') format('woff'),
         url('fonts/brandontext-regular-webfont.ttf') format('truetype'),
         url('fonts/brandontext-regular-webfont.svg#brandon_text_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*****************************************************************************************/

html, body {
	min-height:100%;
}

body {
	font-family: 'brandon', helvetica, sans-serif;

	color:#333;
	background:#f4f4f4;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	font-weight: bold;
}

a:link, a:visited, a:active {
	color:#777;
	text-decoration: none;
}

a:hover {
	color:#000;
}

.block {
	display:block;
}

.box {
	border-top: 1px solid #333;
}

#content {
	margin-top: 90px;
}

#home-body #content {
	margin-top: 50px;
}

.middle-h-container {
	position: relative;
	display: table;
}

.middle-h-container.full {
	height: calc(100vh - 50px);
	height: -o-calc(100vh - 50px); /* opera */
	height: -webkit-calc(100vh - 50px); /* google, safari */
	height: -moz-calc(100vh - 50px); /* firefox */
}




#home-hero {
	width:100%;
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.text-container {
	display: table-cell;
    vertical-align: middle;
}

.btn { 
	border-radius: 0;
}

a.btn-default {
	border: 1px solid #333;
	background-color: transparent;
	color: #333;
}

#home-body a.btn-default {
	border: 1px solid #333;
	background-color: transparent;
	color: #333;
}


.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:focus,
.btn-default.focus {
	color: #f4f4f4;
	border: 1px solid #f4f4f4;
	background-color: #333;
}

 #more-categories-container {
	margin-top: 1em;
	background-color: #333;
	padding: 1em 0 2em 0;
	color: #fff;
 }

.categories-link {
	line-height: 2em;
	background: #fff;
	padding: 0 .5em;
	margin-bottom: .5em;
}

/** picturebox **/
.picturebox .text {
	height: 200px;
	background-color: #fff;
}

	#home-body .picturebox .text {
		height: 170px;
	}

.picturebox a .img {
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#home-body .picturebox .img {
	height: 170px;
}

#portfolio-categories #category-fashion .img {
	background-image: url(../img/fashion.jpg);
}

#portfolio-categories #category-grooming .img {
	background-image: url(../img/grooming.jpg);
}

#portfolio-categories #category-video .img {
	background-image: url(../img/video.jpg);
}

.text-sm {
	position: absolute;
	margin:0;
	bottom: 5px;
	left: 5px;
	font-size: 16px;
	padding: 10px;
	display: inline-block;
	background-color: rgba(255,255,255,.8);
	width: 49%;
}

#home-body .text-sm {
	width: auto;
	bottom: 10px;
}

.text-sm span.small{
	display: block;
	font-size: 12px;
	line-height: 16px;
}



#portfolio-list .list-name, 
#portfolio-list .list-client {
	margin:0;
}

#portfolio-list .text-sm .list-client {
	margin-top: 5px;
	margin-bottom: 10px;
}

#portfolio-list .list-client {
	max-width: 155px;
	overflow: hidden;
}

.portfolio-item {
	margin-bottom: 2em;
}

.video-item {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-item iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

footer {
	padding: 2em 0;
	color:#ccc;
	background-color: #fff
}

#top {
	position: fixed;
	right: 5px;
	bottom:5px;
	height: 40px;
	width: 40px;
	background-color: #333;
	display: none;
}

#top i {
	line-height: 40px;
	font-size: 20px;
	width: 40px;
	display: block;
	text-align: center;
	color: #fff;
}



/** FORM **/
.form-control {
	border-radius: 0;
}


/***** MEDIA QUERIES *****/
@media (max-width: 767px) {
	#home-body .text-container {
		vertical-align: bottom;
	}

	#home-body .middle-h {
		background-color: rgba(255,255,255,.6);
		padding-top: .5em;
		padding-bottom: 2em;
	}

	#portfolio-list a {
		color: #000;
	}

	footer {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.picturebox .text {
		height: 200px;
	}

	#home-body .picturebox .text {
		height: 300px;
	}

	.picturebox a .img {
		height: 200px;
	}
	
	#home-body .picturebox .img {
		height: 300px;
	}

}

@media (min-width: 769px) and (max-width: 991px) {
	#portfolio-list .list-client {
	  font-size: 16px;
	}
}

@media (min-width: 992px) {
	.picturebox .text {
		height: 250px;
	}

	#home-body .picturebox .text {
		height: 400px;
	}

	.picturebox a .img {
		height: 250px;
	}
	
	#home-body .picturebox .img {
		height: 400px;
	}
}

@media (min-width: 1200px) {

}